body {
    font-family: sans-serif;
}
h1, span {
    color: red;
}
h2 {
    color: gray;
    font-weight: bold;
    text-decoration: underline;
}
p {
    font-style: italic;
}
ol {
    list-style-type: upper-roman;
}
