/* Aside Style */
aside {
    margin-left: 8em;
    text-align: center;
    position: left;
    width: 15%;
}
.asideTwoBox {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    background-color: #DBDBDB;
    padding-bottom: 1px;
}
.apuntame {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    width: 100%;
    height: 30px;
    font-size: 15px;
    background-color: lightgreen;
    transition: all .5s;
}
.apuntame:hover {
    font-size: 16px;
    cursor: pointer;
}
.asidePresentacion {
    color: #787878;
    padding-left: 5px;
    text-align: left;
}
.asidePromocion {
    color: #787878;
    padding-left: 10px;
    text-align: left;
}
.mifoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: scale(1.05);
}
.mifoto:hover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Content Style */
main {
    margin-top: 35px;
    display: flex;
    flex: row;
}
.vistaPrevia {
    margin-left: 40px;
    width: 72%;
}
section article img {
    width: 550px;
    height: 350px;
    border-radius: 10px;
    transition: all .5s;
}
section article img:hover {
    width: 550px;
    height: 350px;
    border-radius: 10px;
    transform: scale(1.02);
    filter: brightness(1.1);
}
.primeraVista {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.primeraVista article {
    text-align: center;
    width: 50%;
}
.primeraVista article p {
    padding-left: 10%;
    justify-content: left;
    width: 80%;
}
.primeraVista article hr {
    width: 85%;
    size: 3px;
    background-color: rgb(34, 184, 34);
    border-color: rgb(34, 184, 34);
}
.primeraVista article b a {
    text-decoration-line: none;
    color: black;
    font-size: 18px;
}
.segundaVista {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.segundaVista article {
    text-align: center;
    width: 50%;
}
.segundaVista article p {
    padding-left: 10%;
    justify-content: left;
    width: 80%;
}
.segundaVista article hr {
    width: 85%;
    size: 3px;
    background-color: rgb(34, 184, 34);
    border-color: rgb(34, 184, 34);
}
.segundaVista article b {
    font-size: 18px;
}

/* Animacion Underline */

.vistaPrevia section article b a {
    position: relative;
    color: #000;
    text-decoration: none;
    transition: color .2s;;
  }
  
.vistaPrevia section article b a:hover {
cursor: pointer;
color: rgb(34, 184, 34);
}

.vistaPrevia section article b a::before {
content: "";
position: absolute;
display: block;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: rgb(34, 184, 34);
transform: scaleX(0);
transition: transform 0.3s ease;
}

.vistaPrevia section article b a:hover::before {
transform: scaleX(1);
}

/* Footer Style */

footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #242424;
    float: left;
    width: 100%;
    text-align: center;
}
footer a {
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: color .2s;
}
footer a:hover {
    color: #A8A8A8; 
}
